@charset "UTF-8";


:root {
    --cor-principal: #d3ad7f;
    --cor-branca: white;
    --cor-preta: #13131a;
    --cor-background: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
}

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

body {
    background-color: var(--cor-background);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--cor-background);
}

.cabecalho section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.nav a {
    color: var(--cor-branca);
    margin: 0 1rem;
    font-size: 1.8rem;
}

.nav a:hover {
    color: var(--cor-principal);
    font-size: 2.2rem;
    padding-bottom: 0.3rem;
    border-bottom: 0.1rem solid var(--cor-principal);
}

.icones img {
    margin: 1rem;
}

.icones img:hover {
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding-bottom: 0.3rem;
    border-bottom: 0.1rem solid var(--cor-principal);
}

.botao {
    padding: 1rem 3rem;
    color: white;
    background-color: var(--cor-principal);
    display: inline-block;
    font-size: 1.4rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 7px;
    margin-top: 1rem;
    font-weight: bolder;
}

.botao:hover {
    background-color: #80684c;
    font-size: 1.8rem;
}

.home-conteudo {
    background-image: url(https://i.ibb.co/KX8pvpC/home-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-conteudo section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.conteudo {
    max-width: 60rem;
}

.conteudo h3 {
    text-transform: uppercase;
    color: var(--cor-branca);
    font-size: 6rem;
    padding-bottom: 1rem;
}

.conteudo p {
    color: white;
    font-style: italic;
    text-transform: lowercase;
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 1.7;
    padding-bottom: 1rem;
}

.titulo {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    color: white;
    text-transform: uppercase;
}

.titulo span {
    color: var(--cor-principal);
    text-transform: uppercase;
}

.row {
    display: flex;
    align-items: center;
    background-color: var(--cor-preta);
    gap: 2rem;
}

.sobre .row .conteudo {
    padding: 1rem;
}

.sobre .row .conteudo h3 {
    text-align: center;
    font-size: 3rem;
    position: relative;
    top: -30px;
}

.sobre .row .conteudo p {
    font-weight: 100;
    text-align: center;
    font-size: 1.7rem;
    line-height: 2rem;
    text-indent: 10px;
}

.sobre .row .conteudo a {
    margin-top: 50px;
    position: relative;
    left: 34%; 
    top: -30px;
}

.menu .todos-itens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    cursor: pointer;
}


.menu .preco {
    color: var(--cor-branca);
    font-size: 1.8rem;
    padding: 1rem 0;
}

.menu .preco span {
    text-decoration: line-through;
    font-size: 1.4rem;
    font-weight: lighter;
}

.menu .todos-itens .itens {
    text-align: center;
    border: var(--border);
    padding: 5rem;
}

.menu .todos-itens .itens:hover {
    background-color: var(--cor-branca);
}

.menu .todos-itens .itens:hover>* {
    color: var(--cor-preta);
    font-weight: bolder;
}

.menu .todos-itens .itens h3 {
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--cor-branca);
}

.menu .todos-itens .itens img {
    height: 12rem;
}

.menu .botao:hover {
    background-color: var(--cor-principal);
    font-size: 1.6rem;
}

.clientes .cliente-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    cursor: pointer;
}

.clientes .box {
    border: var(--border);
    text-align: center;
    color: var(--cor-branca);
    padding: 2rem 2rem;
}

.clientes .box p {
    padding: 1rem 0;
    font-size: 1.3rem;
    font-weight: 300;
    font-style: italic;
    line-height: 1.8rem;
}

.clientes .box .foto-cliente {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    padding: 1rem 0;
}


.clientes .box h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.clientes .box .stars {
    margin: 1rem;
}

.clientes .box:hover {
    background-color: rgb(34, 34, 34);
}

.endereco {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.endereco iframe {
    border: 1px solid rgb(175, 175, 175);
    padding: 1px;
}

.footer {
    padding: 1px;
}

.footer .redes-sociais {
    text-align: center;
    padding: 1px;
    
}   

.footer .redes-sociais img {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    margin: 2rem;
    padding: 1rem;
    border-radius: 50%;
}

.footer .redes-sociais img:hover {
    background-color: var(--cor-principal);
    height: 3.2rem;
    width: 3.2rem;
}




















